@import url('components/topnavbar_styles.css');
@import url('components/form_style.css');
@import url('components/buttons_styles.css');
@import url('components/flash_message_styles.css');
@import url('posts/posts_styles.css');



.form-btn{
  background-color: rgb(59,110,36);
  color: aliceblue;
  padding: 16px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  transition: .25 all;
}


.form-btn:hover{
  background-color: rgb(34,75,15);
  border-radius: 5px;

}

.post-btn{
  background-color: rgb(59,110,36);
  color: aliceblue;
  padding: 16px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  transition: .25 all;
}


.post-btn:hover{
  background-color: rgb(34,75,15);
  border-radius: 5px;

}



.post-control-btn1{
  background-color: rgb(59,110,36);
  color: aliceblue;
  margin-left:10px;
  padding: 5px 5px;
  border: none;
  cursor: pointer;
  width: 100%;
  transition: .25 all;
  margin-left:5px;
}


.post-control-btn1:hover{
  background-color: rgb(34,75,15);
  border-radius: 5px;

}


.post-control-btn2{
  background-color: rgb(196,2,2);
  color: aliceblue;
  margin-left:10px;
  padding: 5px 5px;
  border: none;
  cursor: pointer;
  width: 100%;
  transition: .25 all;
}


.post-control-btn2:hover{
  background-color: rgb(138,18,2);
  border-radius: 5px;

}


.post-create-btn{
  background-color: rgb(49,156,0);
  color: aliceblue;
  margin-left:10px;
  padding: 5px 5px;
  border: none;
  cursor: pointer;
  width: 200px;
  transition: .2s all;
}


.post-create-btn:hover{
  background-color: rgb(27,75,15);
  border-radius: 5px;

}
